<%=link_to 'New note', notes_new_path%>
<table>
 <thead>
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>body</th>
  </tr>
 </thead>
 <tbody>
    <% @notes.each do |note| %>
        <tr>
         <td><%=link_to note.id, note_path(id: note.id)%></td>
         <td><%=link_to note.name, note_path(note)%></td>
         <td><%=link_to note.body, note%></td> 
        </tr>
    <% end %>
    
 </tbody>
</table>
