<div class= 'flex justify-between'>
 <h2 class="text-3xl text-indigo-500"><%=link_to "Notes", notes_url%></h2> 
 <h2 class="text-3xl text-indigo-500"><%=link_to "Items", items_url %></h2> 
</div>


<!-- justify-center justify-between justify-evenly  start end -->
<!-- <div class="flex h-screen border border-red-500 justify-between items-center"> 
<div class="w-20 h-20 bg-green-300"></div>
<div class="w-20 h-20 bg-green-500"></div>
<div class="w-20 h-20 bg-green-700"></div>
</div> -->
