<div class='flex justify-between'>
 <h1 class="text-2xl font-semibold">New Item</h1>
 <%=link_to 'back to items', items_path, class:"bg-indigo-600 hover:bg-indigo-800 text-white rounded-lg px-4 py-2"%>
</div>

<div class='mt-6'>
 <%=render 'form' %>
</div>